.optional-components {
}

.optional-components .filter-text .text-field {
    -fx-min-width: 350px;
}

.optional-components .table-view .column-header .label,
.optional-components .table-view .placeholder .label {
    -fx-text-fill: #333333;
}

.licensed-cell > .check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
