.root {
    -fx-background-image: url("../img/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 103%;
    -fx-background-position: 0;
    -fx-font-family: "Helvetica", "Arial", "sans-serif";
}

.page-logo {
    -fx-background-image: url("../img/logo-with-name.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40%;
    -fx-background-position: 0;
}

.button {
/*
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
 */
}

.description {
    -fx-fill: #EEEEEE;
}

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #EEEEEE;
    /* -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); */
}
